* {
  margin: 0;
  padding: 0;
}
.display__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex__flow__down {
  flex-direction: column;
}
.display__flex__start {
  align-items: flex-start;
}
.display__flex__end {
  align-items: flex-end;
}
.flex__space__between {
  justify-content: space-between;
}
.flex__space__around {
  justify-content: space-around;
}
.horz__space__10 {
  width: 10px;
}
.vert__space__20 {
  height: 20px;
}
.primary__button {
  padding: 15px 25px;
  background: #f1dac4;
  color: #474973;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.primary__button:hover {
  background: #f0d6be;
}
